<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>icon</title>
        <link href="https://cdn.bootcss.com/weather-icons/2.0.10/css/weather-icons-wind.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/weather-icons/2.0.10/css/weather-icons.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/weather-icons/2.0.10/font/weathericons-regular-webfont.svg"> -->
        </style>
    </head>
    <body>
        <i class="wi wi-day-sunny"></i>
        <i class="wi wi-day-cloudy"></i>

    </body>
</html>
